body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

:root {
    --darkBlue: #007BFF;
    --lightBlue: #D7E9FC;
    --inactiveColor: #868686;
    --lightGreyText: #aaa;
    --greenText: green;
}